@{
    ViewData["Title"] = "Admin Page";
}
<div class="container">
    <div class="row">
        <h4>Admin Page</h4>
    </div>
    <ul>
        <li><a asp-action="Movies" asp-controller="Admin">Quản lí phim</a></li>
        <li><a asp-action="Persons" asp-controller="Admin">Quản lí người dùng</a></li>
        <li><a asp-action="Genres" asp-controller="Admin">Quản lí thể loại phim</a></li>
    </ul>
</div>